<div class="center jumbotron">
    <h1>Learning Language</h1>
    <h2>Spanish Vocabulary</h2>
    <%= link_to "Login", '#', class: "btn btn-lg btn-primary" %>
    <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>
