<% provide(:title, "Questions") %>
<div class="page-header">
    <h1>
        Questions
        <% if logged_in? %>
            <div class="pull-right">
                <%= link_to "Start Practice", test_path("Questions"), class: "btn btn-primary" %>
            </div>
        <% end %>
    </h1>
</div>

<%= render 'shared/flash' %>

<div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= render 'words/words_table', :words => @words %>
</div>
