@import "variables";

/* CSS Animations */
@keyframes "newword" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0.75;
        margin-left: -15%;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-left: 0%;
    }
}

@-moz-keyframes newword {
    0% {
        filter: alpha(opacity=0);
        opacity: 0.75;
        margin-left: -15%;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-left: 0%;
    }
}

@-webkit-keyframes "newword" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0.75;
        margin-left: -15%;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-left: 0%;
    }
}

@-ms-keyframes "newword" {
    0% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0.75;
        margin-left: -15%;
    }
    100% {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        margin-left: 0%;
    }
}

@-o-keyframes "newword" {
    0% {
        filter: alpha(opacity=0);
        opacity: 0.75;
        margin-left: -15%;
    }
    100% {
        filter: alpha(opacity=100);
        opacity: 1;
        margin-left: 0%;
    }
}

.new-word-container {
    max-width: 500px;
}

.new-word-form {
    -webkit-animation: newword 0.4s ease-in-out;
    -moz-animation: newword 0.4s ease-in-out;
    -ms-animation: newword 0.4s ease-in-out;
    -o-animation: newword 0.4s ease-in-out;
    animation: newword 0.4s ease-in-out;

    input[type=text] {
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
    }

    .test-button-group {
        margin: 0;
    }
}
