@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('//fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,500,700');
@import "variables";

html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: $background-color;
}

.splash {
    background: url("unsplash-nvzvOPQW0gc-bench-accounting.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-wrapper {
    min-height: 100%;
    position: relative;
}

.main {
    padding-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

a {
    color: $primary;

    &:focus {
        color: $primary;
    }

    &:hover {
        color: $primary-light;
    }
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.no-margin {
    margin: 0 !important;
}

.box-container {
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.box-shadow {
    background-color: $light-white;
    padding: 10px;
    margin-bottom: 20px;

    -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
    -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
}

/* Overwrite Bootstrap */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

.btn {
    border-radius: 0px;
}

.btn-lg {
    border-radius: 0px;
}

.btn-primary {
    background-color: $primary;
    border-color: $primary;
    font-weight: 300;

    &:active:focus,
    &:active.focus,
    &.active:focus,
    &.active.focus
    &:focus,
    &.focus,
    &:active,
    &.active {
        background-color: $primary;
        border-color: $primary;
    }

    &:active:hover,
    &.active:hover,
    &:hover,
    &.hover,
    &.disabled:hover,
    &.disabled.hover,
    &.disabled:focus,
    &.disabled.focus,
    &[disabled],
    &[disabled]:hover,
    &[disabled].hover,
    &[disabled]:focus,
    &[disabled].focus, {
        background-color: $primary-light;
        border-color: $primary-light;
    }
}

.navbar-brand {
    font-weight: 300;
}

.jumbotron {
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.5);
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: $primary;
    border-color: $primary;
}

.pagination > li > a,
.pagination > li > span {
    color: $primary;
}

.pagination > li > a:hover,
.pagination > li > span:hover {
    color: $primary-light;
}

.progress {
    position: relative;
	height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: $light-blue;
}

.progress > .progress-type {
	position: absolute;
	left: 0px;
    padding-top: 5px;
    padding-left: 15px;
	color: #000000;
}

.progress > .progress-completed {
	position: absolute;
	right: 0px;
	padding: 3px 10px 2px;
}

.table {
    margin-bottom: 0;
}

/* Wide screen */
@media (min-width: 768px) {
    .main {
        margin: 0 0 0 150px;
    }
}

/* Dev debug mode */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
