// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-header {
    background: url("laptop-1209008_1280.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-top: -20px;
    margin-left: -15px;
    margin-right: -15px;

    height: 400px;
    text-align: center;

    .page-header {
        border: none;
        margin: 0;
        padding-top: 250px;
    }

    h1 {
        font-size: 63px;
        color: #333333;
        background-color: rgba(255, 255, 255, 0.5);
    }
}
