@import "variables";

#user_error_explanation {
    text-align: left;
}

.edit-profile {
    max-width: 500px;
    padding: 30px;
}

.users-table {
    border-collapse: separate;

    .progress {
        margin: 0;
    }

    thead {
        tr {
            th {
                vertical-align: middle;
            }
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;
                border-top: 10px solid $light-white;
                background-color: $background-color;
                margin-top: 10px;

                .user-icon {
                    float: left;
                    margin-right: 10px;
                    color: #CCCCCC;
                }

                .user-link {
                    font-size: 1.25em;
                    display: block;
                    margin: 0 0 0 60px;
                }
            }
        }
    }
}
