// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alpha-pagination {
    text-align: center;
}

.numbers-box {
    margin-bottom: 30px;
    margin-right: 30px;
}
