<footer class="footer">
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            Website built by <a href="http://www.kimsangly.com">Kim Sang Ly</a>
        </div>
    </div>
</footer>
