<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#side-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <%= link_to "Learning Spanish", '#', id: "logo", class: "navbar-brand" %>
    </div>

    <nav class="navbar-right hidden-xs">
        <ul class="nav navbar-nav">
            <li>
                <a href="#">
                    <i class="fa fa-user-circle-o fa-fw" aria-hidden="true"></i> Alice
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Sign Out
                </a>
            </li>
        </ul>
    </nav>
</div>
